<section layout="column" flex>
  <state-loader></state-loader>
  <div layout="row" flex>
    <side-bar flex></side-bar>
    <div class="main-content" layout="column" flex>

      <!-- Component -->
        <top-bar></top-bar> 
      <!-- /Component -->

      <md-content layout="column" layout-gt-md="row" flex>
        <div layout-gt-md="column" flex-gt-md="30" class="scrollable-full-column-md">
          <div>

            <!-- Component -->
            <messenger-card actions="true" messenger="{name: 'Juan sebastian Polanco Ramos', phone: '234234324', identification: '234234234', plate: 'AS 456'}"></messenger-card>
            <!-- /Component -->

          </div>
          <div>
            
            <!-- Component -->
            <messenger-documents></messenger-documents>
            <!-- /Component -->

          </div>
          <div>
            
            <!-- Component -->
            <messenger-config></messenger-config>
            <!-- /Component -->

          </div>
        </div>
        <div layout-gt-md="column" flex-gt-md class="scrollable-full-column-md">
          <div>

            <!-- Component -->
            <messenger-budget></messenger-budget>
            <!-- /Component -->

          </div>
          <div>

            <!-- Component -->
            <messenger-movements></messenger-movements>
            <!-- /Component -->

          </div>
          <div>

            <!-- Component -->
            <messenger-services></messenger-services>
            <!-- /Component -->

          </div>
        </div>

      </md-content>
    </div>
  </div>
</section>