<div flex layout="column">

  <md-card flex class="service-map" ng-if="vm.carded">
    <md-card-content flex layout="column">
      <openlayers height="100%" ol-center="vm.center" class="flex">
        <ol-control name="fullscreen"></ol-control>
        <ol-layer source-type="XYZ" source-url="https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoicG9sYW5jb21lbnNhamVyb3MiLCJhIjoiY2oxZTA5eGJwMDAzaDJxa2V2MmhrYmJlaCJ9.dPXLNDhHsxUls7hkNLjTPQ"></ol-layer>
      </openlayers>
    </md-card-content>
    <small>{{vm.loadingMap}}</small>
    <md-progress-linear ng-if="vm.loadingMap" md-mode="indeterminate"></md-progress-linear>
  </md-card>

  <div ng-if="!vm.carded" flex>
    <openlayers height="100%" ol-center="vm.center" class="flex">
      <ol-layer source-type="XYZ" source-url="https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoicG9sYW5jb21lbnNhamVyb3MiLCJhIjoiY2oxZTA5eGJwMDAzaDJxa2V2MmhrYmJlaCJ9.dPXLNDhHsxUls7hkNLjTPQ"></ol-layer>
    </openlayers>
  </div>

</div>