/// @author Juan Sebastian Polanco Ramos <s.polanco@mensajerosurbanos.com>

.disponibility-view{
  md-toolbar{
    background: transparent !important;
    color: inherit !important;
  }
  md-tab-content{
    md-content{
      background: white !important;
    }
  }
  md-table-container{
    table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
      padding: 0 27px 0 0;
    }
  }
}
  
