<md-card class="messenger-documents">
  <md-card-title>
    Documentos necesarios
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in [{},{},{},{},{}]" ng-init="item.icons = false" ng-mouseover="item.icons = true" ng-mouseleave="item.icons = false">
        <md-icon ng-if="$index < 3" class="md-icon green-txt">check_circle</md-icon>
        <md-icon ng-if="$index >= 3 && $index < 4" class="md-icon">info</md-icon>
        <md-icon ng-if="$index >= 4" class="md-icon">help</md-icon>
        <div class="md-list-item-text">
          <h3> Cédula </h3>
          <p> Documento cargado correctamente </p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" aria-label="call" ng-if="item.icons == true">
          <md-icon class="md-icon">mode_edit</md-icon>
        </md-button>
      </md-list-item>

    </md-list>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary">Historial de documentos cargados</md-button>
  </md-card-actions>
</md-card>