<div class="sidebar-container" layout="column">
  <md-sidenav flex class="md-sidenav-left main-sidenav" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo logo">
      <img ng-src="{{vm.muLogo}}" alt="">
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <li ng-repeat="navIcon in vm.navIcons" class="pointer" ng-class="{ active: vm.state.includes(navIcon.sref) }" ui-sref="{{navIcon.sref}}">
          <md-icon class="md-icon">{{navIcon.icon}}</md-icon>
          <small>{{navIcon.name}}</small>
        </li>
      </ul>
    </md-content>

  </md-sidenav>
</div>