@import '../../../styles/variables';
.sidebar-container{
  md-sidenav{
    background: $sideBarBg !important;
  }
  a.md-button{
    md-icon{
      color: rgba(255, 255, 255, 0.5) !important;  
    }
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    &.active{
      color: white !important;
      md-icon{
        color: white !important;
      }
    }
  }
  flex: none !important;
  -webkit-flex: none !important;
  md-content{
    background: $sideBarBg !important;
    background-color: $sideBarBg !important;
  }
  .main-sidenav{
    height: 100%;
    width: $sideBarWidth;
    background: $sideBarBg;
    md-toolbar, md-content{
      background: $sideBarBg;
    }
    .logo{
      height: 45px;
      width: 45px;
      margin-left: 26px;
      margin-top: 10px;
    }
    ul{
      li{
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 2em;
        md-icon{
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 0.2em;
        }
        &.active{
          color: white;
          font-weight: 500;
          md-icon{
            color: white;
          }
        }
      }
    }
    @media(max-width: $layout-md){
      display: none !important;
    }
  }  
}
