<div>
  <div layout="row" layout-align="center center" style="height: 5px;">
    <md-progress-linear ng-if="vm.loadingData" md-mode="query"></md-progress-linear>
  </div>
  <md-table-container>
    <table md-table>
      <thead md-head md-order="vm.orderName" md-on-reorder="getData">
        <tr md-row>
          <th md-column md-numeric md-order-by="id_point_client"><span>ID cliente</span></th>
          <th md-column md-numeric>Activo</th>
          <th md-column md-numeric md-order-by="name">Nombre</th>
          <th md-column md-numeric md-order-by="address">Dirección</th>
          <th md-column md-numeric md-order-by="company">Empresa</th>
          <th md-column md-numeric md-order-by="city">Ciudad</th>
          <th md-column md-numeric md-order-by="parking">Valor parqueadero</th>
          <th md-column md-numeric md-order-by="phone">Teléfono</th>
          <th md-column md-numeric>Extras</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="disp" md-select-id="id" md-auto-select ng-repeat="spot in vm.tableData">
          <td md-cell>{{spot.id_point_client}}</td>
          <td md-cell>
            <md-checkbox ng-model="spot.status" ng-true-value="'Activo'"
              ng-false-value="'Inactivo'" aria-label="Estado" ng-change="vm.toggleSpot(spot)"></md-checkbox>
          </td>
          <td md-cell>{{spot.name}}</td>
          <td md-cell>{{spot.address}}</td>
          <td md-cell>{{spot.company}}</td>
          <td md-cell>{{spot.city}}</td>
          <td md-cell>{{spot.parking}}</td>
          <td md-cell>{{spot.phone}}</td>
          <td md-cell>
            <!-- Agent menu -->
            <md-menu>
              <md-button class="md-icon-button md-primary" ng-click="vm.openMenu($mdMenu)">
                <md-icon class="md-icon">info</md-icon>
              </md-button>
              <md-menu-content class="popup" width="4">
                <div layout="column" class="popup">
                  <div layout="row" layout-align="space-between center">
                    <div>
                      <small>Creado por</small>
                    </div>
                    <div class="md-subhead">
                      <strong class="srefer">{{spot.user_created}}</strong>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div>
                      <small>Horario</small>
                    </div>
                    <div class="md-subhead">
                      <small>{{spot.schedule}}</small>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div>
                      <small>Creado</small>
                    </div>
                    <div class="md-subhead">
                      <small class="srefer">{{spot.datecreate}}</small>
                    </div>
                  </div>
                </div>
              </md-menu-content>
            </md-menu>
            <!-- /Agent menu -->
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="vm.limit" md-limit-options="[5, 10, 15]" md-page="vm.page"
    md-total="{{vm.total}}" md-on-paginate="getData" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
</div>