<md-dialog flex="60" class="dialog-90">
    <md-toolbar class="transparent-toolbar">
        <div class="md-toolbar-tools">
            Crear zona
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content" layout="column" style="padding: 0;">
        <div>
            <service-map carded="false"></service-map>
        </div>
        <form name="createZoneForm" layout-padding layout="column">
            <md-input-container flex>
                <label>Ciudad</label>
                <md-select required ng-model="vm.city" name="city" flex>
                    <md-option><em>Selecciona una opción</em></md-option>
                    <md-option ng-repeat="city in vm.cities" ng-value="city.id">
                        {{city.name}}
                    </md-option>
                </md-select>
                <div ng-messages="createZoneForm.city.$error" role="alert">
                    <div ng-message="required">
                        Seleccione una ciudad
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Nombre</label>
                <input ng-model="vm.name" name="name" required>
                <div ng-messages="createZoneForm.name.$error" role="alert">
                    <div ng-message="required">
                        Ingrese un nombre
                    </div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()">
            Cancelar
        </md-button>
        <md-button class="md-primary" ng-click="vm.answer('useful')" ng-disabled="createZoneForm.$invalid">
            Crear
        </md-button>
    </md-dialog-actions>
</md-dialog>