@import '../styles/variables.scss';
@import '../styles/containers.scss';
@import '../styles/forms.scss';
@import '../styles/fixes.scss';
@import url(https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

main{
    width: 100%;
}

[ui-view]{
    height: 100%;
    display: flex;
}

.main-content{
    background: #f3f3f3;
}

.mu-txt{
    color: $muColor;
}

.bordered-container{
    border: solid #e0e0e0 1px;
    padding: 0.4em;
}

.float-right{
    float: right;
}

.transparent{
    background: transparent !important;
}

.pointer{
    cursor: pointer;
}

.green-txt{
    color: $greenColor !important;
}

.corner-buttons{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
}

@media(min-width: $layout-sm){
    .scrollable-full-column{
        overflow-y: scroll;
        height: auto;
    }
}

@media(min-width: $layout-md){
    .scrollable-full-column-md{
        overflow-y: scroll;
        height: auto;
    }
}

@media(min-width: 1281px){
    .main-menu-trigger{
        display: none;
    }
}

/// Service status dots

.service-state{
    width: 15px;
    height: 15px;
    background: #9b9b9b;
    display: inline-block;
    border-radius: 50%;
    &.state-3{
        background: #ffc64b;
    }
    &.state-4{
        background: $muColor;
    }
    &.state-5{
        background: $muColor;
    }
    &.state-6{
        background: $muColor;
    }
    &.state-7{
        background: red;
    }
}

.transparent-toolbar{
    background: transparent !important;
    color: black !important;
    .md-icon-button{
        md-icon{
            color: inherit;
        }
    }
}

.srefer{
    color: $muColor;
    cursor: pointer;
}

main{
    md-content{
        background-color: $background !important;
    }
}

// Scroll bar

body::-webkit-scrollbar {
    width: 0.2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// Autocomplete
md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
    bottom: 13px !important;
}