@import '../styles/variables.scss';
@import '../styles/containers.scss';
@import '../styles/fixes.scss';
@import url(http://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html, body, main{
   // font-family: 'Fira Sans', sans-serif;
}

main{
    width: 100%;
}

[ui-view]{
    height: 100%;
    display: flex;
}

.main-content{
    background: #f3f3f3;
}

.mu-txt{
    color: $muColor;
}

.bordered-container{
    border: solid #e0e0e0 1px;
    padding: 0.4em;
}

.float-right{
    float: right;
}

.transparent{
    background: transparent !important;
}

.pointer{
    cursor: pointer;
}

.green-txt{
    color: $greenColor !important;
}

.corner-buttons{
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

.scrollable-full-column{
    overflow-y: scroll;
    height: auto;
}

/// Service status dots

.service-state{
    width: 15px;
    height: 15px;
    background: #9b9b9b;
    display: inline-block;
    border-radius: 50%;
    &.state-3{
        background: #ffc64b;
    }
    &.state-4{
        background: $muColor;
    }
    &.state-5{
        background: $muColor;
    }
    &.state-6{
        background: $muColor;
    }
    &.state-7{
        background: red;
    }
}

.transparent-toolbar{
    background: transparent !important;
}

.srefer{
    color: $muColor;
    cursor: pointer;
}

main{
    md-content{
        background-color: $background !important;
    }
}

md-card{
    md-card-title{
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        border-bottom: 1px solid #e0e0e0;
    }
}
