<md-card class="service-instructions">
  <md-card-title>
    <md-card-title-text>
      <span class="md-title">Instrucciones y direcciones</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-repeat="item in [1,2]" class="padding-top-0-5 padding-bottom-0-5">
      <div layout="column" class="margin-bottom-0-5">
        <strong>Ciudad:</strong>
        <span>Bogotá</span>
      </div>
      <div layout="column" class="margin-bottom-0-5">
        <strong>Dirección:</strong>
        <span>Calle falsa 123</span>
      </div>
      <div layout="column" class="margin-bottom-0-5">
        <strong>Descripción:</strong>
        <span>recoger comprobante de radicacion segun solicitud del servicio # 5830ba6261d40</span>
      </div>
      <md-divider></md-divider>
    </div>
  </md-card-content>
</md-card>