<md-card class="service-instructions">
  <!--md-card-title>
    <md-card-title-text>
      <span class="md-headline">Instrucciones y direcciones</span>
    </md-card-title-text>
  </md-card-title-->
  <md-card-content>
    <md-list>
      <md-list-item>
        <h3>Ciudad: </h3>
        <p>Bogotá</p>
      </md-list-item>
      <md-list-item ng-repeat="item in [1,2]" class="md-3-line md-long-text">
        <div class="md-list-item-text">
          <h3>Calle falsa 123</h3>
          <p>
            Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper
            vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </div>
        <md-button class="md-secondary md-icon-button md-raised" aria-label="action">
          <md-icon class="md-icon">mode_edit</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>