<md-card class="editMessengerMenu">
  <!--md-card-title>
    Información del mensajero
  </md-card-title-->
  <md-card-content>
    <md-list>
      <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text">
          <a href="#user-info">
            Información del usuario
          </a>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line" ng-click="null">
        <a href="#basic-info">
            Información Básica
          </a>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>