<div>
  <div layout="row" layout-align="center center" ng-if="vm.loadingZones">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-table-container ng-if="!vm.loadingZones">
    <table md-row-select multiple md-table ng-model="vm.selected" md-progress="vm.promise">
      <thead md-head md-order="vm.query.order" md-on-reorder="vm.getDesserts">
        <tr md-row>
          <th md-column><span>Nombre</span></th>
          <th md-column><span>Estado</span></th>
          <th md-column>Ciudad</th>
          <th md-column>Creador</th>
          <th md-column>Fecha creado</th>
          <th md-column>Ver zona</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-auto-select ng-repeat="zone in vm.zones">
          <td md-cell>{{zone.name}}</td>
          <td md-cell>{{zone.status}}</td>
          <td md-cell>{{zone.ciudad}}</td>
          <td md-cell>{{zone.user_created}}</td>
          <td md-cell>{{zone.datecreate}}</td>
          <td md-cell>
            <md-button class="md-icon-button md-primary" ng-click="vm.openViewZoneModal()">
              <md-icon class="md-icon">map</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination ng-if="!vm.loadingZones" md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page"
    md-total="{{vm.query.totalZones}}" md-on-paginate="getZones" md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
</div>