<div layout="column" layout-gt-sm="row" flex class="login-view">
  <div flex-gt-sm="40" class="left-image"></div>
  <div flex layout="column" layout-align="center center" class="right-col">
    <md-card>
      <div style="min-height: 5px;">
        <md-progress-linear ng-if="vm.recoveryInProgress" md-mode="indeterminate"></md-progress-linear>
      </div>
      <md-card-content layout="column" class="padding-2">
        <img src="https://de2o5epq3l2io.cloudfront.net/front/img/logo-mu.svg" class="mu-logo">
        <!--div layout="column">
          <p style="width: 18em;" ng-if="vm.instructionsSent"><small id="success-recovery">Se ha enviado un correo electrónico con las instrucciones para cambiar la contraseña, por favor verífique.</small></p>
        </div-->
        <form name="resetPasswordForm" layout="column">
          <md-input-container>
            <label>Nueva contraseña</label>
            <input ng-model="vm.newPassword" type="password" name="password" required>
            <div ng-messages="resetPasswordForm.password.$error" role="alert">
              <div ng-message="required">
                Ingrese una contraseña
              </div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Confirmar contraseña</label>
            <input ng-model="vm.passwordConfirmation" name="passwordconfirmation" type="password" ng-pattern="\b{{vm.newPassword}}\b" required>
            <div ng-messages="resetPasswordForm.passwordconfirmation.$error" role="alert">
              <div ng-message="required">
                Ingrese su contraseña
              </div>
              <div ng-message="pattern">
                Las contraseñas no coinciden
              </div>
            </div>
          </md-input-container>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.updatePassword()" ng-disabled="resetPasswordForm.$invalid" class="md-primary md-raised">
              Cambiar contraseña
            </md-button>
          </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>