<md-card class="messenger-budget">
  <md-card-content layout="row">
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3 class="md-subhead">Servicios en espera</h3>
          <span class="md-display-1">22</span>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3 class="md-subhead">Servicios en curso</h3>
          <span class="md-display-1">45</span>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3 class="mu-txt md-subhead">Mensajeros disponibles</h3>
          <span class="md-display-1 mu-txt">112</span>
        </md-list-item>
      </md-list>
    </div>
    <div flex layout="column">
      <md-input-container>
        <label>Ciudad</label>
        <md-select ng-model="ctrl.userState">
          <md-option ng-repeat="state in ['Bogotá', 'Ibagué', 'Barranquilla', 'Bucaramanga']" ng-value="state">
            {{state}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-raised md-primary">Crear servicio</md-button>
    </div>
  </md-card-content>
</md-card>