<md-card class="messenger-budget">
  <md-card-content layout="column" layout-gt-sm="row">
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3>Saldo total</h3>
          <p>$1'145.000</p>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3>Saldo retiro</h3>
          <p>$1'145.000</p>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3>Saldo NO retiro</h3>
          <p>$1'145.000</p>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-list>
        <md-list-item class="md-2-line budget">
          <h3>Saldo en canje</h3>
          <p>$1'145.000</p>
        </md-list-item>
      </md-list>
    </div>
  </md-card-content>
</md-card>