<md-card class="messengerConfig">
  <md-card-title>
    Configuración
  </md-card-title>
  <md-card-content layout="row">
    <div flex>
      <md-input-container>
        <md-switch ng-model="config.d1" aria-label="Domiciliario" class="margin-0">
          Domiciliario
        </md-switch>
      </md-input-container>
      <md-input-container>
        <md-switch ng-model="config.d2" aria-label="Mensajería" class="margin-0">
          Mensajería
        </md-switch>
      </md-input-container>
      <md-input-container>
        <md-switch ng-model="config.d3" aria-label="E-commerce" class="margin-0">
          E-commerce
        </md-switch>
      </md-input-container>
      <md-input-container>
        <md-switch ng-model="config.d4" aria-label="Vip" class="margin-0">
          Vip
        </md-switch>
      </md-input-container>
      <md-input-container>
        <md-switch ng-model="config.d5" aria-label="Vip mensajería" class="margin-0">
          Vip mensajería
        </md-switch>
      </md-input-container>
    </div>
    <div flex layout="column">
      <md-input-container>
        <label>Equipo de la moto</label>
        <md-select ng-model="selectedItem">
          <md-option ng-value="item" ng-repeat="item in [1, 2, 3]">Option {{item}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Equipo del mensajeto</label>
        <md-select ng-model="selectedItem2">
          <md-option ng-value="item" ng-repeat="item in [1, 2, 3]">Option {{item}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Otra opción</label>
        <md-select ng-model="selectedItem3">
          <md-option ng-value="item" ng-repeat="item in [1, 2, 3]">Option {{item}}</md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary">Guardar configuración</md-button>
  </md-card-actions>
</md-card>