/// @author Juan Sebastian Polanco Ramos <s.polanco@mensajerosurbanos.com>

.disponibility-prices{
  table.md-table.prices td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.prices th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 2px 0 0 !important;
  }
  .current-hour{
    background: #e0e0e0;
    transition: 1s;
    font-weight: 500;
  }
}
  
