<md-dialog flex="80" class="dialog-90">
    <md-dialog-content class="md-dialog-content" layout="column" layout-gt-sm="row" style="padding: 0;">
        <div flex layout="column" class="scrollable-full-column padding-1">
            <span class="md-headline margin-top-0-5 margin-bottom-0-5">Crear servicio</span>
            <md-input-container>
                <label>Solicitante del servicio</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container>
                <label>Solicitante del servicio</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <div layout="row">
                <md-input-container flex>
                    <label>Tipo de pago</label>
                    <md-select required ng-model="ctrl.pay" flex>
                        <md-option><em>Selecciona una opción</em></md-option>
                        <md-option ng-repeat="state in ['opcion 1', 'opcion 2']" ng-value="state">
                            {{state}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Fecha</label>
                    <md-datepicker ng-model="ctrl.myDate" name="dateField"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Hora</label>
                    <md-select required ng-model="ctrl.hour" flex>
                        <md-option><em>Selecciona una opción</em></md-option>
                        <md-option ng-repeat="state in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-value="state">
                            {{state}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Minutos</label>
                    <md-select required ng-model="ctrl.minutes" flex>
                        <md-option><em>Selecciona una opción</em></md-option>
                        <md-option ng-repeat="state in [1,2,3,4,5,6,7,8,10,11,12]" ng-value="state">
                            {{state}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>AM-PM</label>
                    <md-select required ng-model="ctrl.ampm" flex>
                        <md-option><em>Selecciona una opción</em></md-option>
                        <md-option ng-repeat="state in ['AM', 'PM']" ng-value="state">
                            {{state}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                    <label>Valor declarado</label>
                    <input ng-model="user.value">
                </md-input-container>
                <md-input-container class="padding-left-0-5">
                    <md-switch ng-model="data.cb1" aria-label="Switch 1" class="margin-0">
                        Ida y vuelta
                    </md-switch>
                </md-input-container>
            </div>
            <div layout="column">
                <div ng-repeat="address in vm.addresses">
                    <div layout="row" ng-click="address.show = !address.show" class="pointer">
                        <p flex>{{ address.name }}</p>
                        <md-button class="md-icon-button">
                            <md-icon ng-if="!address.show" class="md-icon">add</md-icon>
                            <md-icon ng-if="address.show" class="md-icon">remove</md-icon>
                        </md-button>
                    </div>     
                    <div layout="column" ng-if="address.show" class="padding-top-1">
                        <md-input-container>
                            <label>Dirección</label>
                            <input ng-model="address.name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Descripción</label>
                            <textarea ng-model="address.description" md-maxlength="150" rows="2" md-select-on-focus placeholder="Escribe aqui que tiene que hacer el mensajero en esta dirección"></textarea>
                        </md-input-container>
                    </div>               
                </div>
            </div>
        </div>
        <div flex layout="column" hide show-gt-sm>
            <service-map carded="false"></service-map>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()">
            Anular cancelación
        </md-button>
        <md-button class="md-primary" ng-click="vm.answer('useful')">
            Confirmar
        </md-button>
    </md-dialog-actions>
</md-dialog>