<section layout="column" flex>
  <state-loader></state-loader>
  <div layout="row" flex>
    <side-bar flex></side-bar>
    <div class="main-content" layout="column" flex>

      <!-- Component -->
        <top-bar></top-bar> 
      <!-- /Component -->

      <md-content layout="column" layout-gt-md="row" flex>
        <div layout-gt-md="column" flex-gt-md="" class="scrollable-full-column-md">
          <div>

            <!-- Component -->
            <alerts-status></alerts-status>
            <!-- /Component -->

          </div>
          <div>

            <!-- Component -->
            <alerts></alerts>
            <!-- /Component -->

          </div>
        </div>
        <div layout-gt-md="column" flex-gt-md="30" class="scrollable-full-column-md">
          <div flex layout="column">

            <!-- Component -->
            <alerts-map></alerts-map>
            <!-- /Component -->

          </div>
        </div>

      </md-content>
    </div>
  </div>
</section>