<md-toolbar md-scroll-shrink ng-if="true" class="md-primary main-topbar">
  <div class="md-toolbar-tools">
    <h2 flex md-truncate>{{vm.title}}</h2>
    
      <md-input-container class="md-block search" flex-gt-sm>
        <label>Buscar</label>
        <input ng-model="vm.search">
      </md-input-container>
      <md-button ng-disabled="!vm.search.length" aria-label="Open menu with custom trigger" class="md-raised search-btn">
        <md-icon class="md-icon">search</md-icon>
      </md-button>
    
    <md-button aria-label="Open menu with custom trigger" class="md-icon-button">
      <md-icon class="md-icon">notifications_none</md-icon>
    </md-button>
    <md-menu>
      <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon class="md-icon">person</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in [1, 2, 3]">
          <md-button>
            Option {{item}}
          </md-button>
        </md-menu-item>
    </md-menu>
  </div>
</md-toolbar>