<md-toolbar ng-if="true" class="md-primary main-topbar">
  <div class="md-toolbar-tools">
    <h2 class="top-bar-title" flex md-truncate>{{vm.title}}</h2>
    <md-autocomplete flex md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display"
      md-min-length="3" placeholder="Buscar">
      <md-item-template>
        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
        No hay resultados que coincidan con: "{{vm.searchText}}"
      </md-not-found>
    </md-autocomplete>

    <md-button aria-label="Open menu with custom trigger" class="md-icon-button">
      <md-icon class="md-icon">notifications_none</md-icon>
    </md-button>
    <md-menu>
      <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon class="md-icon">person</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="item in [1, 2, 3]">
          <md-button>
            Option {{item}}
          </md-button>
        </md-menu-item>
    </md-menu>
    <!--md-select ng-model="selectedItem" md-selected-text="'Usuario'">
      <md-optgroup label="Usuario">
        <md-option ng-value="item" ng-repeat="item in [1, 2, 3]">Option {{item}}</md-option>
      </md-optgroup>
    </md-select-->
  </div>
</md-toolbar>