<md-card class="messenger-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{vm.messenger.name}}</span>
      <span class="md-subhead">{{vm.messenger.phone}}</span>
      <span class="md-subhead">{{vm.messenger.identification}}</span>
      <span class="md-subhead">{{vm.messenger.plate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <img src="http://lorempixel.com/100/112/people/" alt="">
    </md-card-title-media>
  </md-card-title>
</md-card>